.customRadio {
  @apply appearance-none w-5 h-5 rounded-full bg-white border-2 border-gray-300 checked:bg-blue-500 relative cursor-pointer;
}

.customRadio::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 9999px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.customRadio:checked::before {
  opacity: 1;
}

.customCheckBox {
  @apply appearance-none w-5 h-5 rounded bg-white border-2 border-gray-300 checked:bg-blue-500 relative cursor-pointer;
}
.customCheckBox::after {
  content: '';
  position: absolute;
  display: none;
  top: 2px;
  left: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.customCheckBox:checked::after {
  display: block;
}

.customInput {
  @apply appearance-none border-none outline-none rounded-lg text-sm w-80;
}
